*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 16px;
}
body{
	padding: 40px;
	font-family: Georgia, Times, serif;
	color: #353535;
}
h1, h2, h3, h4, h5, h6{
	margin: 10px 0;
	font-family: Helvetica, Arial, sans-serif;

	font-weight: bold;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
	letter-spacing: -1px;
	word-spacing: 10px;
	text-align: center;
}
blockquote{
	margin: 0 0 0 30px;
	font-style: italic;
	text-indent: 60px;
	line-height: 1.3;
}
span{
	text-decoration: line-through;
}
em{
	text-transform: capitalize;
}
strong{
	text-transform: uppercase;
	font-weight: bold;
}
a{
	color: #3ca;
	text-decoration: none;
}